.show {
  width: 85%;
  padding: 0 75px;
  display: flex;
  margin: auto;

  .container {
    width: 70%;
    margin-top: 70px;
    height: fit-content;

    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
  }
}